################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/C++2DBasis001/data/MAP/debug.txt
/C++2DBasis001/data/MAP/debug.xlsx
